body {
  font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.4;
    color: rgb(221, 155, 155);
    background-color: #33485a;
}
/* Navigation */
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgb(36, 33, 33);
}
li {
  display: inline;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  margin-left: 30px;
  margin-right: 24px;
  font-size: 15px;
  color: #fff;
}
a:hover {
  color: #fbc02d;
}
h1, h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-align: center;
}
h1 {
    font-size: 6px;
    font-size: 72px;
    color: white;
}
h2 {
    font-size: 50px;
    color: white;
}
p {
    font-size: 20px;
    color: #ffffff;
}

/* Home */

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(../css/IMG2.jpg);
    background-size: contain;
}
.head, .para {
  background-color: rgba(27, 26, 26, 0.5);
  color: #ffffff;
}
.projects-section {
    text-align: center;
    padding: 5px 2px;
}
.projects-section-header {
    max-width: 640px;
    margin: 30px auto 30px auto;
    padding: 10px;
}
  @media (max-width: 460px) {
    .projects-section-header {
      font-size: 4rem;
    }
}  
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 64px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 50px;
}
  @media (max-width: 490px) {
    .projects-section {
      padding: 6rem 16px;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  .img {
    float: left;
    width: 50vh;
    height: 50vh;
    border: 5px;
  }
  .text {
    display: inline;
    text-align: center;
    width: 50%;
  }

  /* About */

.about {
    margin: 5px;
}

/* Work */

.project {
    background: rgb(36, 33, 33);
    border-radius: 10px;
    transition: all 2s, transform 0.5s,;
}
.project:hover {
    transform: scale(1.08);
}  
.project-image {
    height: calc(100% - 50px);
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.project-title {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px 2px;
    border-radius: 0 0 10px 10px;
    text-transform: capitalize;
}

/* Contact */

.container {
  max-width: 800px;
  justify-content: center;
  padding: 64px;
  font-size: 25px;
}
#contact {
  width: 100%;
  height: 100%;
}
.form-horizontal {
  /* float: right; */
  max-width: 400px;
  font-weight: 400;
}
.form-control, 
textarea {
  max-width: 400px;
  background-color: #dbeaf8;
  color: #fff;
  padding: 10px;
  border-radius: 2px;
}
.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
}
.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}
.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px;
  padding: 10px;
}
.direct-contact-container {
  max-width: 400px;
}
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}
.list-item {
  line-height: 4;
  color: #aaa;
}
.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}
.place {
  margin-left: 62px;
}
.phone {
  margin-left: 56px;
}
.gmail {
  margin-left: 53px;
}
.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}
.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    margin: 0 auto;
  } 
  .name, .email, textarea {
    width: 280px;
  } 
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
}

/* Footer */

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
.footer-clean {
  padding:15px 0;
  background-color:#000000;
  color:white;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
  color: rgb(55, 55, 233);
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}
  * {
    margin: 0;
    padding: 0;
  }
  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  /* Base reset */
  * {
    margin: 0;
    padding: 0;
  }
  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  